{% extends 'base.html' %}

{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Lista de Tramites:
		<a href="/registrar_tramite/"><button type="button" class="btn btn-primary pull-right fixbutcrear">Crear Tramite</button>
	</a>
	</div>
	<!-- Table -->
		<table class="table">
			<thead>
				<th>Tramite</th>
				<th>Detalle</th>
				<th>Modificar</th>
				<th>Eliminar</th>
			</thead>
			<tbody>
			{% for object in object_list %}
				<tr>
					<td>{{object}}</td>
					<td><a href="/detail_tramite/{{object.id}}">Ver</a></td>
					<td><a href="/update_tramite/{{object.id}}">Editar</a></td>
					<td><a href="/delete_tramite/{{object.id}}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

		</div>
	</div>
	
{% endblock content %}	
