{% extends 'base_sistema.html' %}
{% load staticfiles %}

{% block content %}
{% load widget_tweaks %}
<section id="content">
  	<section class="vbox">
	    <header class="header bg-success bg-gradient">
	      <ul class="nav nav-tabs">
	          <li class="active"><a href="#static" data-toggle="tab">Crear Tramite</a></li>
	      </ul>
	    </header>
	    <section class="scrollable wrapper">
	        <div class="panel panel-default">
		        <div class="container">
		            <div class="row">
			            <div class="bootstrap-iso">
				            <div class="container-fluid">
					            <div class="col-md-8 col-sm-8 col-xs-12">

					              <div class="form-group">
					                <form class=""  method="POST" enctype='multipart/form-data' id="form3">
					                	<div class="card-panel">
					                    <h3 class="header2">Registrar Tramite</h3>
					                    {% csrf_token %} 
					                    </div>
					                   
					                    <div class="row">
				                          <div class="col-md-6">
				                              <div class="form-group {% if form.errors.tipo_tramite %} has-error {% endif %}">
				                                  <label class="control-label">{{ form.tipo_tramite.label }}</label>
				                                  {{form.tipo_tramite|add_class:"form-control"}}
				                                  <div class="help-block with-errors">
				                                    {{form.errors.tipo_tramite|removetags:'ul li'}}
				                                  </div>
				                              </div>
				                            </div>
				                            <div class="col-md-6">
				                              <div class="form-group {% if form.errors.observaciones %} has-error {% endif %}">
				                                 <label class="control-label">{{ form.observaciones.label }}</label>
				                                  {{form.observaciones|add_class:"form-control"}}
				                                  <div class="help-block with-errors">
				                                    {{form.errors.observaciones|removetags:'ul li'}}
				                                  </div>

				                              </div>
				                            </div>
				                        </div>

					                    <div class="form-group">
					                        <div>
					                          <button class="btn btn-primary " name="submit" type="submit">
					                            Guardar
					                          </button>
					                          <a href="/listar_tramite" class="btn  btn-success"><i class="left"></i> Volver  Atras</a>
					                        </div>
					                    </div>
					                </form>
					              </div>
					            </div>
				            </div>
			            </div>
		            </div>
		        </div>
	        </div>
	    </section>
  	</section>      
</section>

{% endblock content %}
	