{% extends 'base_sistema.html' %}

{% block content %}
{% load staticfiles %}
	<section id="content">
            <section class="vbox">
                <header class="header bg-white b-b">
                    <p>Bienvenido a la aplicación Good Life</p>
                </header>
                <section class="scrollable wrapper">
                    <div class="row">
                       
                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <a href="/listar_cliente">
                                        <header class="panel-heading bg-success lter">
                                            <div class="text-center  jumbotron-icon">
                                                <i class="fa fa-users fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        </a>
                                        <div class="panel-body">
                                            <div> <span class="h3 block">Clientes</span> </div>
                                           
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <a href="/listar_empresa">
                                        <header class="panel-heading bg-success lter"> 
                                            <div class="text-center jumbotron-icon">
                                                 <i class="fa fa-building-o fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        </a>
                                        <div class="panel-body">
                                            <div>  <span class="h3 block">Empresas</span> </div>
                                            
                                        </div>
                                    </section>
                                </div>

                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <a href="/listar_clinica">
                                        <header class="panel-heading bg-success lter"> 
                                            <div class="text-center jumbotron-icon">
                                                <i class="fa fa-hospital-o fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        </a>
                                        <div class="panel-body">
                                            <div>  <span class="h3 block">Clinicas</span> </div>
                                            
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <a href="/listar_tramite">
                                        <header class="panel-heading bg-success lter">
                                            <div class="text-center jumbotron-icon">
                                                <i class="fa fa-tasks fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        </a>
                                        <div class="panel-body">
                                            <div>  <span class="h3 block">Tramites</span> </div>
                                            
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <a href="/listar_tramiteafp">
                                        <header class="panel-heading bg-success lter"> 
                                            <div class="text-center jumbotron-icon">
                                                <i class="fa fa-at fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        </a>
                                        <div class="panel-body">
                                            <div> <span class="h3 block">AFP</span> </div>
                                           
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <a href="/cobros">
                                        <header class="panel-heading bg-success lter"> 
                                            <div class="text-center jumbotron-icon">
                                                <i class="fa fa-usd fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        </a>
                                        <div class="panel-body">
                                            <div>  <span class="h3 block">Cobros</span> </div>
                                            
                                        </div>
                                    </section>
                                </div>
                               <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <header class="panel-heading bg-success lter"> 
                                            <div class="text-center jumbotron-icon">
                                                <i class="fa fa-file-code-o fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        <div class="panel-body">
                                            <div>  <span class="h3 block">En construccion</span> </div>
                                            
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <header class="panel-heading bg-success lter"> 
                                            <div class="text-center jumbotron-icon">
                                                <i class="fa fa-file-code-o fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        <div class="panel-body">
                                            <div>  <span class="h3 block">En construccion</span> </div>
                                            
                                        </div>
                                    </section>
                                </div>
                                <div class="col-lg-4 col-sm-4">
                                    <section class="panel no-borders">
                                        <header class="panel-heading bg-success lter"> 
                                            <div class="text-center jumbotron-icon">
                                                <i class="fa fa-file-code-o fa-5" aria-hidden="true"></i>
                                            </div>
                                        </header>
                                        <div class="panel-body">
                                            <div>  <span class="h3 block">En construccion</span> </div>
                                            
                                        </div>
                                    </section>
                                </div>
                           
                           
                        
                        
                    </div>
                </section>
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="body"></a>
        </section>
{% endblock content %}