{% extends 'base.html' %}

{% block menu %}
	
{% endblock menu %}

{% block content %}
	<div class="container fix_container">
	<h2 class='thumbnail'>Manejo de Clientes GOOD LIFE</h2>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<a href="/listar_cliente/">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>Clientes</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="/listar_empresa/">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>Empresas</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="/listar_clinica/">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>Clinicas</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="/listar_tramite/">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>Tramites</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="/listar_tramiteafp/">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>AFPs</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>En construccion...</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>En construccion...</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>En construccion...</h3>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a href="">
				<div class="thumbnail">
					<p></p>
					<div class="caption">
					<h3>En construccion...</h3>
					</div>
				</div>
				</a>
			</div>
		</div>
	<p><a href="/logout/" class="btn btn-default" role="button">salir</a></p>
	</div>
{% endblock content %}

{% block footer %}
	
{% endblock footer %}