{% extends 'base.html' %}

{% block menu %}
	
{% endblock menu %}

{% block content %}
	<div class="container">
		    <!-- FIRST ROW OF BLOCKS -->     
      <h1 class='text-center h1-main'>GOOD LIFE <span>Consultora de Pensiones y Prevision Social</span></h1>
      <div class="row">
        <div class="col-sm-3 col-lg-3">
        <a href="/listar_cliente/">
          <div class="dash-unit">
            <h3>Clientes</h3>
            <hr>
            <h3>Listar</h3>
            <h3>Registrar</h3>
            <h3>Editar</h3>
            <h3>Eliminar</h3>
            <h3></h3>
          </div>
        </a>
        </div>
        <div class="col-sm-3 col-lg-3">
        <a href="/listar_empresa/">
          <div class="dash-unit">
            <h3>Empresas</h3>
            <hr>
            <h3>Listar</h3>
            <h3>Registrar</h3>
            <h3>Editar</h3>
            <h3>Eliminar</h3>
            <h3></h3>
          </div>
        </a>
        </div>
        <div class="col-sm-3 col-lg-3">
        <a href="/listar_clinica/">
          <div class="dash-unit">
            <h3>Clinicas</h3>
            <hr>
            <h3>Listar</h3>
            <h3>Registrar</h3>
            <h3>Editar</h3>
            <h3>Eliminar</h3>
            <h3></h3>
          </div>
        </a>
        </div>
        <div class="col-sm-3 col-lg-3">
        <a href="/listar_tramite/">
          <div class="dash-unit">
            <h3>Tramites</h3>
            <hr>
            <h3>Listar</h3>
            <h3>Registrar</h3>
            <h3>Editar</h3>
            <h3>Eliminar</h3>
            <h3></h3>
          </div>
        </a>
        </div>

      </div><!-- /row -->
      <div class="row">
        <div class="col-sm-3 col-lg-3">
        <a href="/listar_tramiteafp/">
          <div class="dash-unit">
            <h3>AFP</h3>
            <hr>
            <h3>Listar</h3>
            <h3>Registrar</h3>
            <h3>Editar</h3>
            <h3>Eliminar</h3>
            <h3></h3>
          </div>
        </a>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <h3>En construccion</h3>
            <hr>
            <h3>Lorem</h3>
            <h3>Lorem</h3>
            <h3>Lorem</h3>
            <h3>Lorem</h3>
            <h3></h3>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <h3>En construccion</h3>
            <hr>
            <h3>Lorem</h3>
            <h3>Lorem</h3>
            <h3>Lorem</h3>
            <h3>Lorem</h3>
            <h3></h3>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
        <a href="/logout/">
          <div class="dash-unit">
            <h3>Salir</h3>
            <hr>
            <h3>Logout</h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3></h3>
          </div>
        </a>
        </div>

      </div><!-- /row --> 

	</div>
{% endblock content %}

{% block footer %}
	
{% endblock footer %}