{% extends 'base.html' %}

{% block content %}
		<div class="container">
    <h1 class="">Registrar Clinica</h1>
    <form class="form-horizontal" method='POST'>{% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="" class="col-sm-5 control-label2">Razon Social:</label>
            <div class="col-sm-10">
              <input class="form-control" type='text' name='razon_social'>
            </div>
            <label for="" class="col-sm-5 control-label2">Direccion:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="" name='direccion'>
            </div>
        </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="" class="col-sm-5 control-label2">Telefono 1:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="" name='telefono1'>
            </div>
            <label for="" class="col-sm-5 control-label2">Telefono 2:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="" name='telefono2'>
            </div>
          </div><!-- End form-group  -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <button type="submit" class="btn btn-success btn-lg btn-block">Crear Clinica</button>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <a href="/listar_clinica/" class="btn btn-lg btn-block btn-warning">Cancel</a>
        </div>
      </div>

      </form>
  </div>
{% endblock content %}

