{% extends 'base_sistema.html' %}
{% load staticfiles %}

{% block content %}
{% load widget_tweaks %}
<section id="content">
  <section class="vbox">
    <header class="header bg-success bg-gradient">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#static" data-toggle="tab">Crear Clinica</a></li>
      </ul>
      </header>
      <section class="scrollable wrapper">
        <div class="panel panel-default">
          <div class="container">
           <div class="row">
            <div class="bootstrap-iso">
              <div class="container-fluid">
                <div class="col-md-8 col-sm-8 col-xs-12">

                  <div class="form-group">
                    <form class=""  method="POST" enctype='multipart/form-data' id="form3">
                      <div class="card-panel">
                        <h3 class="header2">Registrar Clinica</h3>
                        {% csrf_token %} 
                      </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.razon_social %} has-error {% endif %}">
                                  <label class="control-label">{{ form.razon_social.label }}</label>
                                  {{form.razon_social|add_class:"form-control"}}
                                  <div class="help-block with-errors">
                                    {{form.errors.razon_social|removetags:'ul li'}}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.direccion %} has-error {% endif %}">
                                 <label class="control-label">{{ form.direccion.label }}</label>
                                  {{form.direccion|add_class:"form-control"}}
                                  <div class="help-block with-errors">
                                    {{form.errors.direccion|removetags:'ul li'}}
                                  </div>

                              </div>
                            </div>
                        </div>

                         <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.telefono1 %} has-error {% endif %}">
                                  <label class="control-label">{{ form.telefono1.label }}</label>
                                  {{form.telefono1|add_class:"form-control"}}
                                  <div class="help-block with-errors">
                                    {{form.errors.telefono1|removetags:'ul li'}}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.telefono2 %} has-error {% endif %}">
                                 <label class="control-label">{{ form.telefono2.label }}</label>
                                  {{form.telefono2|add_class:"form-control"}}
                                  <div class="help-block with-errors">
                                    {{form.errors.telefono2|removetags:'ul li'}}
                                  </div>

                              </div>
                            </div>
                        </div>

                      </div>

                      <div class="form-group">
                        <div>
                          <button class="btn btn-primary " name="submit" type="submit">
                            Guardar
                          </button>
                          <a href="/listar_clinica" class="btn  btn-success"><i class="left"></i> Volver  Atras</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </section>      
</section>
{% endblock %}