{% extends 'base_sistema.html' %}

{% block content %}
{% load widget_tweaks %}
<section id="content">
  <section class="vbox">
    <header class="header bg-success bg-gradient">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#static" data-toggle="tab">Clientes</a></li>
          </ul>
      </header>
      <section class="scrollable wrapper">
      <div class="tab-content">
        <div class="panel panel-default">
      <!-- Default panel contents -->
          <section class="panel">
              <header class="panel-heading"> Configuracion Cliente </header>
              
              <div class="table-responsive">
              <form   method="POST" >
                  <table  class="table table-bordered table-hover" id="tabla">
                      <thead>
                        <tr>
                          <th>Servicio</th>
                          <th>Costo</th>
                        </tr>
                      </thead>
                    <tbody>
                   
                    {% for form in formset.forms %}
                      <tr>
                        
                        <td >
                          
                          {{form.id}}
                          {{form.servicio.value}}
                          {{form.servicio}}
                        </td>
                        <td >
          
                          <div class="form-group">
                          {{form.costo|add_class:"form-control"|attr:"style:width: 50%;"}}
                          </div>
                        </td>
                          
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                   {{ formset.management_form }}
                   {% csrf_token %}

                   <div class="row text-sm wrapper">
                      <div class="col-sm-5 m-b-xs">
                      {% if not cancelado %}
                        <button class="btn  btn-primary" id="save" name="guardar">Guardar
                          <i class="mdi-content-save right"></i>
                        </button>
                      {% else %}
                        <button class="btn btn-success" id="save" name="nuevo">Realizar un nuevo cobro
                          <i class="mdi-content-save right"></i>
                        </button>
                      {% endif %}
                      </div>
                      <div class="col-sm-4 m-b-xs">
                          
                      </div>
                      <div class="col-sm-3">
                        
                      </div>
                  </div>
                   
                 </form>
              </div>
          
              
          </section>
            
      </div>
    </section>
  </section>
</section>
  
{% endblock content %}  
{% block js %}
<script>
 
  
    

</script>
{% endblock %}
  
