<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <style>
   .center-text{
    text-align:center;
   }
   .text-size{
    font-size: 12px;

   }

  </style>
</head>
<body>








<section id="content">
        <!--start container-->
        <div class="container">
          <div id="invoice">
           <table style="border:1px solid black;">

                <tr style="border:none;">
                  <td class="center-text text-size" >
                  <br>
                    <b>SFS</b> <br>
                    <b>SFSFSF</b> <br>
                    <b>Telf.: 322342</b>
                  </td>
                  <td class="center-text">
                    <b style="font-size: 20px;">COMPROBANTE DE INGRESO</b> <br>
                    <b>COPIA CLIENTE</b>
                  </td>
                  <td class="center-text text-size">
                    <b>{{fecha}}</b>
                  </td>

                </tr>

              </table>
              <table style="border:1px solid black; padding: 5px; ">
                <tr style="border:none;">
                  <td class="text-size">
                  <br>
                  <b>Nombre cliente: {{cliente}}</b> <br>
                  <b>Codigo Cliente GL: {{cliente.codigo_gl}}</b> <br>
                  </td>
                  <td></td>
                  <td class="text-size center-text">
                    <b>Numero Recibo: {{num_recibo}}</b>
                  </td>


                </tr>
              </table>


            </div>


            <div class="invoice-table">
              <div class="row">
                <div class="col s12 m12 l12">


          <table style="border:1px solid black;" class="text-size">
          <thead>
            <tr style="border-botton:1px; border-right:none; border-left:none;">
              <th data-field="item">servicio</th>
              <th data-field="item">cobro</th>
            </tr>
          </thead>
          <tbody>
            {%  for d in detalle %}
              {% if d.amortizacion != 0 %}
              <tr style="border:none; padding: 5px;">
                <td >{{d.servicio}}</td>
                <td>{{d.amortizacion}}</td>
              </tr>
              {% endif %}
            {% endfor %}


            <tr style="border-botton:1px; border-right:none; border-left:none;">
              <td colspan="7" class="white"></td>
              <td>
                saldo:
              </td>
              <td>
                {{saldo}}
              </td>
              <td ><br><b>Total:</b></td>
              <td class="" id="sum-subtotal"><br>{{total}}</td>
            </tr>
          </tbody>
          </table>
                </div>

              </div>
            </div>

             <div class="invoice-footer">

            </div>

          </div>
        </div>
        <!--end container-->
</section>



</body>
</html>
