{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
<!-- Default panel contents -->
		<div class="panel-heading"><h3 class='fixh3'>Lista de Clientes de Good Life:</h3>
			<a href="/registrar_cliente/"><button type="button" class="btn btn-success pull-right fixbutcrear">Crear Cliente</button>
			</a>
		</div>
		<div class="row">
			<div class="col-xs-12">
		    	<div class="table-responsive">
			        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
			          <thead>
			            <tr>
			            	<th>Codigo Cliente</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Detalle</th>
							<th>Modificar</th>
							<th>Eliminar</th>
			            </tr>
				        </thead>
							<tbody>
						{% for object in object_list %}
							<tr>
								<td>{{object.codigo_gl}}</td>
								<td>{{object.nombres}}</td>
								<td>{{object.apellidos}}</td>
								<td><a href="/detail_cliente/{{object.id}}">Ver</a></td>
								<td><a href="/update_cliente/{{object.id}}">Editar</a></td>
								<td><a href="/delete_cliente/{{object.id}}">Delete</a></td>
							</tr>
						{% endfor %}
						</tbody>
			        </table>
		    	</div><!--end of .table-responsive-->
		    </div>
		</div>
	</div>	
</div>	
	
{% endblock content %}	
	
