{% extends 'base_sistema.html' %}

{% block content %}
<section id="content">
	<section class="vbox">
		<header class="header bg-success bg-gradient">
	        <ul class="nav nav-tabs">
	            <li class="active"><a href="#static" data-toggle="tab">Clientes</a></li>
	        </ul>
	    </header>
	    <section class="scrollable wrapper">
			<div class="tab-content">
				<div class="panel panel-default">
			<!-- Default panel contents -->
					<section class="panel">
					    <header class="panel-heading"> Lista de Clientes de Good Life: </header>
					    <div class="row text-sm wrapper">
					        <div class="col-sm-5 m-b-xs">


					            <a class="btn btn-sm btn-success" href="/registrar_cliente/">Crear Cliente</a>

					        </div>
					        <div class="col-sm-4 m-b-xs">

					        </div>
					        <div class="col-sm-3">

					        </div>
					    </div>
					    <div class="table-responsive">
					        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover" id="tabla">
						          <thead>
						            <tr>
						            	<th>Codigo Cliente</th>
						            	<th>CI</th>
										<th>Nombres</th>
										<th>Apellidos</th>
										<th>Definir Costos</th>
										<th>Cobros</th>
										<th>Reporte</th>
										<th>Detalle</th>
										<th>Modificar</th>
										<th>Eliminar</th>
						            </tr>
							        </thead>
										<tbody>
									{% for object in object_list %}
										<tr>
											<td>{{object.codigo_gl}}</td>
											<td>{{object.ci}}</td>
											<td>{{object.nombres}}</td>
											<td>{{object.apellidos}}</td>
											<td>
												<a class="btn btn-info" href="/costos_por_cliente/{{object.id}}"><i class="icon-gear text"></i></a>
											</td>
											<td>
												<a class="btn btn-success" href="/cobro_cliente/{{object.id}}"><i class="icon-dollar text"></i></a>
											</td>
											<td>
												<a class="btn btn-white" href="/reportecobro/{{object.id}}" target="_blank"><i class="icon-bar-chart text"></i></a>
											</td>
											<td>
												<a class="btn btn-default" href="/detail_cliente/{{object.id}}"><i class="icon-eye-open text"></i></a>
											</td>
											<td>
												<a class="btn btn-warning" href="/update_cliente/{{object.id}}"><i class="icon-edit text"></i></a>
											</td>
											<td>
												<a class="btn btn-danger" href="#" data-toggle="modal" data-target="#modalDel{{object.id}}"><i class="fa fa-trash-o text"></i></a>
												<!-- Modal -->
												<div class="modal fade" id="modalDel{{object.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
												  <div class="modal-dialog" role="document">
												    <div class="modal-content">
												      <div class="modal-header">
												        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												        <h4 class="modal-title" id="myModalLabel">Eliminar cliente</h4>
												      </div>
												      <div class="modal-body">
												        <p class="img-dashboard">Esta seguro que quiere eliminar "{{object.nombres}}"</p>
												      </div>
												      <div class="modal-footer">
												        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

												        <a href="/delete_cliente/{{object.id}}" class="btn btn-primary">Eliminar</a>
												      </div>
												    </div>
												  </div>
												</div>
											</td>
										</tr>
									{% endfor %}
									</tbody>
						        </table>
					    </div>


					</section>

			</div>
		</section>
	</section>
</section>

{% endblock content %}
{% block js %}
<script>
 var table = $('#tabla').dataTable( {

        language: {
        	url: "/static/localizacion/es_ES.json"
    	}
    } );

$('#tabla tbody').on( 'click', 'tr', function()
    {
        if ($(this).hasClass('selected') )
        {
            $(this).removeClass('selected');

        }
        else
        {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });



</script>
{% endblock %}
