{% extends 'base_sistema.html' %}
{% load staticfiles %}

{% block content %}
{% load widget_tweaks %}

<section id="content">
  <section class="vbox">
    <header class="header bg-success bg-gradient">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#static" data-toggle="tab">Crear Cliente</a></li>
          </ul>
      </header>
      <section class="scrollable wrapper">
        <div class="panel panel-default">
          <div class="container">
           <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">

                  <div class="form-group">
                    <form class=""  method="POST" enctype='multipart/form-data' id="formcliente" target="_blank">
                      <div class="card-panel">
                        <h3 class="header2">Registrar Cliente</h3>
                        {% csrf_token %} 

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Fecha ingreso</label>
                                <input type="text" class="form-control" id="id_fecha_ingreso3" name="fecha_ingreso3"/>
                            </div>
                            <div class="form-group">
                              <label class="control-label">{{ form.codigo_gl.label}}</label>
                                <input type="text" class="form-control" id="id_codigo_gl" value='{{codigo_dep}}' name="codigo_gl"/>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label class="control-label">{{ form.foto.label }}</label>
                              <div class="form-group">
                                  <div class=" media">
                                      <div class="bg-light pull-left text-center media-lg thumb-lg">
                                        
                                          <img id="image_upload_preview" style="width:150px" src="{% static "images/user.png"%}" alt="your image" />
                                      </div>
                                      <div class="media-body">
                                          <div class="fileinput fileinput-new" data-provides="fileinput">
                                              <span class="btn btn-default btn-file">
                                              <span>Buscar Foto</span>
                                              {{ form.foto }}</span>
                                              <input id="imagenf" type="hidden" name="imagenf" value=""/>
                                              <span class="fileinput-filename">
                                                
                                              </span>
                                          </div>
                                          <br>
                                          <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#modalFoto" data-backdrop="static">Tomar Foto</button>
                                      </div>
                                  </div>
                              </div>
                          </div>

                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.ciudad_origen %} has-error {% endif %}">
                                  <label class="control-label">{{ form.ciudad_origen.label }}</label>
                                  {{form.ciudad_origen|add_class:"form-control"}}
                                  <div class="help-block with-errors">
                                    {{form.errors.ciudad_origen|removetags:'ul li'}}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.activo %} has-error {% endif %}">
                                 <label class="control-label"></label>
                                  
                                  
                                  <div class="checkbox checkbox-primary">
                      
                                      {{form.activo|attr:"id:checkbox2"}}
                                      <label for="checkbox2">
                                          {{ form.activo.label }}
                                      </label>
                                  </div>
                                  <div class="help-block with-errors">
                                    {{form.errors.activo|removetags:'ul li'}}
                                  </div>
                                  <input type="text" id="fecha_inactivo" name="fecha_inactivo" placeholder="Fecha inactivo" class=" form-control  datepicker" data-date-format="yyyy-mm-dd">

                              </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.nombres %} has-error {% endif %}">
                                  <label class="control-label">{{ form.nombres.label }}</label>
                                  <input type="text" class="form-control" id="id_nombres" name="nombres"/>
                                  <div class="help-block with-errors">
                                    {{form.errors.nombres|removetags:'ul li'}}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.apellidos %} has-error {% endif %}">
                                <label class="control-label">{{ form.apellidos.label }}</label>
                                <input type="text" class="form-control" id="id_apellidos" name="apellidos" />
                                <div class="help-block with-errors">
                                  {{form.errors.apellidos|removetags:'ul li'}}
                                </div>
                              </div>
                            </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.fecha_naciemiento %} has-error {% endif %}">
                                  <label class="control-label">{{ form.fecha_naciemiento.label }}</label>
                                  <input type="date" name="fecha" class="form-control" id="id_fecha_naciemiento">
                                  <div class="help-block with-errors">
                                    {{form.errors.fecha_naciemiento|removetags:'ul li'}}
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.edad %} has-error {% endif %}">
                                <label class="control-label">{{ form.edad.label }}</label>
                                <input type="text" class="form-control" id="id_edad" name="edad" />
                                <div class="help-block with-errors">
                                  {{form.errors.edad|removetags:'ul li'}}
                                </div>
                              </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.ci %} has-error {% endif %}">
                                <label class="control-label">{{ form.ci.label }}</label>
                                <input type="number" class="form-control" id="id_ci" name="ci" />
                                <div class="help-block with-errors">
                                  {{form.errors.ci|removetags:'ul li'}}
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.expedido %} has-error {% endif %}">
                                <label class="control-label">{{ form.expedido.label }}</label>
                                <input type="text" class="form-control" id="id_expedido" name="expedido" />
                                <div class="help-block with-errors">
                                  {{form.errors.expedido|removetags:'ul li'}}
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.telefono %} has-error {% endif %}">
                                <label class="control-label">{{ form.telefono.label }}</label>
                                <input type="number" class="form-control" id="id_telefono" name="telefono" />
                                <div class="help-block with-errors">
                                  {{form.errors.telefono|removetags:'ul li'}}
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">{{ form.cel.label }}</label>
                                <input type="number" class="form-control" id="id_cel" name="cel"/>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.empresa %} has-error {% endif %}">
                                <label class="control-label">{{ form.empresa.label }}</label>
                                
                                <div class="input-group">
                                  {{ form.empresa|add_class:"form-control" }}

                                  <span class="input-group-btn">
                                    
                                    <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#myModal" data-backdrop="static">+</button>
                                  </span>

                                </div><!-- /input-group -->
                                <div class="help-block with-errors">{{form.errors.empresa|removetags:'ul li'}}</div>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.tramite %} has-error {% endif %}">
                                <label class="control-label">{{ form.tramite.label }}</label>

                                <div class="input-group">
                                  {{ form.tramite|add_class:"form-control" }}
                                  <span class="input-group-btn">
                                    
                                    <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#Modaltramite" data-backdrop="static">+</button>
                                  </span>

                                </div><!-- /input-group -->
                                <div class="help-block with-errors">{{form.errors.tramite|removetags:'ul li'}}</div>

                              </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group {% if form.errors.afps %} has-error {% endif %}">
                                <label class="control-label">{{ form.afps.label }}</label>
                                {{ form.afps|add_class:"form-control" }}
                                <div class="help-block with-errors">
                                  {{form.errors.afps|removetags:'ul li'}}
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group {% if form.errors.clinica %} has-error {% endif %}">
                                <label class="control-label">{{ form.clinica.label }}</label>

                                <div class="input-group">
                                  {{ form.clinica|add_class:"form-control" }}
                                  <span class="input-group-btn">
                                    
                                    <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#Modalclinica" data-backdrop="static">+</button>
                                  </span>

                                </div><!-- /input-group -->
                                <div class="help-block with-errors">{{form.errors.clinica|removetags:'ul li'}}</div>

                              </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">{{ form.persona_referencia.label }}</label>
                                <input type="text" class="form-control" id="id_persona_referencia" name="persona_referencia" />
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">{{ form.telefono_per_referencia.label }}</label>
                                <input type="number" class="form-control" id="id_telefono_per_referencia" name="telefono_per_referencia" />
                              </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">{{ form.cel_per_referencia.label }}</label>
                                <input type="number" class="form-control" id="id_cel_per_referencia" name="cel_per_referencia" />
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">{{ form.seguro.label }}</label>
                                <input type="text" class="form-control" id="id_seguro" name="seguro" />
                              </div>
                          </div>
                            
                        </div>

                      </div>

                      <div class="form-group">
                        <div>
                          <button class="btn btn-primary " id="save"  type="submit">
                            Guardar
                          </button>
                          <a href="/listar_cliente" class="btn  btn-success"><i class="left"></i> Volver  Atras</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            <!-- Modal empresa-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close cancel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Registro de empresa</h4>
                  </div>
                  <div class="modal-body">
                    <form id="form2" method="POST">
                     
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Razon Social:</label>
                                <input class="form-control" type='text' name='razon_social'>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Direccion:</label>
                                <input type="text" class="form-control" id="" name='direccion'>
                            </div>
                          </div>

                      </div>

                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Telefono 1:</label>
                                <input type="number" class="form-control" id="" name='telefono1'>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Telefono 2:</label>
                                <input type="number" class="form-control" id="" name='telefono2'>
                            </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Departamento:</label>
                                <select name="departamento" id="parent_selection" class="form-control">
                                      <option value="">Seleccione el departamento</option>
                                      <option value="Beni">Beni</option>
                                      <option value="Chuquisaca">Chuquisaca</option>
                                      <option value="Cochabamba">Cochabamba</option>
                                      <option value="La Paz">La Paz</option>
                                      <option value="Oruro">Oruro</option>
                                      <option value="Pando">Pando</option>
                                      <option value="Potosi">Potosi</option>
                                      <option value="Santa Cruz">Santa Cruz</option>
                                      <option value="Tarija">Tarija</option>
                                </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Municipio:</label>
                                <select name="municipios" id="child_selection" class="form-control">
                                    <option value="">Seleccione el municipio</option>
                                </select>
                            </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Nro Patronal:</label>
                                <input type="number" class="form-control" id="" name='nro_patronal'>
                            </div>
                          </div>
                          
                      </div>       
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" id="cancel" data-dismiss="modal">Cerrar</button>
                    <button id="register" type="button" class="btn btn-primary">Guardar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
<!-- qqqqqqqqqqqqqqqqqqqqqqqqq-->
              <!-- Modal tramite -->
            <div class="modal fade" id="Modaltramite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close cancel-tramite" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Registro de tramite</h4>
                  </div>
                  <div class="modal-body">
                    <form id="formtramite" method="POST">
                     
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">tipo_tramite:</label>
                                <input class="form-control" type='text' name='tipo_tramite'>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Observaciones:</label>
                                <input type="text" class="form-control" id="" name='observaciones'>
                            </div>
                          </div>

                      </div>    
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel-tramite" id="cancel" data-dismiss="modal">Cerrar</button>
                    <button id="register-tramite" type="button" class="btn btn-primary">Guardar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
<!-- qqqqqqqqqqqqqqqqqqqqqqqqq-->

            <!-- Modal Foto-->
            <div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close cancel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Camara</h4>
                  </div>
                  <div class="modal-body">
                    <form id="form2" method="POST">
                     
                      

                      <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                                                        <!-- Configure a few settings -->
                            <div id="my_camera"></div>

                            <script language="JavaScript">
                              Webcam.set({
                                width: 420,
                                height: 340,
                                image_format: 'jpeg',
                                jpeg_quality: 500
                              });
                              Webcam.attach( '#my_camera' );
                            </script>

                            </div>
                          </div>
                          
                      </div>

                           
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" id="cancel" data-dismiss="modal">Cerrar</button>
                    <button  type="button" class="btn btn-primary" onClick="take_snapshot()">Fotografíar</button>

                    </form>
                  </div>
                </div>
              </div>
            </div>


            <!-- Modal clinica -->
            <div class="modal fade" id="Modalclinica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close cancel-clinica" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Registro de clinica</h4>
                  </div>
                  <div class="modal-body">
                    <form id="formclinica" method="POST">
                     
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Razon Social:</label>
                                <input class="form-control" type='text' name='razon_social'>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Direccion:</label>
                                <input type="text" class="form-control" id="" name='direccion'>
                            </div>
                          </div>

                      </div>

                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Telefono 1:</label>
                                <input type="number" class="form-control" id="" name='telefono1'>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="control-label">Telefono 2:</label>
                                <input type="number" class="form-control" id="" name='telefono2'>
                            </div>
                          </div>
                      </div>      
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel-clinica" id="cancel" data-dismiss="modal">Cerrar</button>
                    <button id="register-clinica" type="button" class="btn btn-primary">Guardar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </section>
  </section>      
</section>
    {% endblock %}

    {% block js %}
    {% load staticfiles %}
    <script src="{% static "js/apps/clientes.js"%}"></script>
    
    <script>
    // para renderizar en un img la imagen q se va subir
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                console.log(reader);
                reader.onload = function (e) {
                    $('#image_upload_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

      
     
       $("#id_foto").change(function () {
            $("#image_upload_preview").prop("hidden", false);
            readURL(this);
        });
    // para la accion del checkbox de activo

      if ($("#checkbox2").is(':checked')){
               
        $("#fecha_inactivo").hide();
      }else{
        $("#fecha_inactivo").show();
        
      }


      $("#checkbox2").change(function(){
        var dato = $(this).val();
        console.log(dato);
        if ($(this).is(':checked')){
               
          $("#fecha_inactivo").hide();
        }else{
          $("#formcliente").valid();
          $("#fecha_inactivo").show();
          $("#fecha_inactivo").val('');
        }
      }); 

      /// ===== funciom para capturar con la camara =======
      // function take_snapshot() {
      
      //   var codigo_gl = document.getElementById('id_codigo_gl').value;
      //   webcam.set_api_url( '/save_image/'+escape(codigo_gl)+'/' );
      //   webcam.set_hook( 'onComplete', 'my_completion_handler' );
      //   // take snapshot and upload to server
      //   webcam.snap();
      // }

      // function my_completion_handler(msg) {

      //   if (msg.match(/(\/media\/\S+)/)) {
      //     var image_url = RegExp.$1;
      //     console.log('legooo aquii');
      //     // show JPEG image in page
      //     $('#image_upload_preview').attr('src', image_url);
      //     // $('#modalFoto').modal('hide');
          

      //     // reset camera for another shot
      //     webcam.reset();
      //   }
      //   else alert("Python Error: " + msg);
      // }

      var shutter = new Audio();
      shutter.autoplay = false;
      shutter.src = navigator.userAgent.match(/Firefox/) ? '{% static "webcamjs/shutter.ogg"%}' : '{% static "webcamjs/shutter.mp3"%}';

      function take_snapshot() {
        shutter.play();
        Webcam.snap( function(data_uri) {
          // snap complete, image data is in 'data_uri'
          var codigo_gl = document.getElementById('id_codigo_gl').value;
          var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
          document.getElementById('imagenf').value = raw_image_data;
          $('#image_upload_preview').attr('src', data_uri);
          // document.getElementById('myform').submit();
          console.log(raw_image_data);
          // Webcam.off();
          // Webcam.upload( data_uri, '/save_image/'+escape(codigo_gl)+'/', function(code, text) {
          //     // Upload complete!
          //     // 'code' will be the HTTP response code from the server, e.g. 200
          //     // 'text' will be the raw response content
          //     $('#image_upload_preview').attr('src', data_uri);
          //     console.log('capturooo');
          // });

        });
      }

      $('#id_fecha_naciemiento').on('change',function(){
      // var dia = prompt("Día de nacimiento:");
      // var mes = prompt("Mes de nacimiento:");
      // var ano = prompt("Año de nacimiento:");
      var aa = $('#id_fecha_naciemiento').val();
      console.log(aa);
      var arr = aa.split('-');
      var ano = arr[0];
      var mes = arr[1];
      var dia = arr[2];

      fecha_hoy = new Date();
      ahora_ano = fecha_hoy.getYear();
      ahora_mes = fecha_hoy.getMonth();
      ahora_dia = fecha_hoy.getDate();
      edad = (ahora_ano + 1900) - ano;
          
          if ( ahora_mes < (mes - 1)){
            edad--;
          }
          if (((mes - 1) == ahora_mes) && (ahora_dia < dia)){ 
            edad--;
          }
          if (edad > 1900){
              edad -= 1900;
          }
       
          //alert("¡Tienes " + edad + " años!");
          $('#id_edad').val(edad);
      });
    </script>
  {% endblock js %}
