{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% load widget_tweaks %}


<div class="container">
  <div class="row">
    <form class=""  method="POST" enctype='multipart/form-data'>
      <div class="card-panel">
        <h3 class="header2">Registrar Cliente</h3>
          {% csrf_token %} 
          

    <div class="bootstrap-iso">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <form method="post">

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.fecha_ingreso.label }}</label>
                    {{ form.fecha_ingreso|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.codigo_gl.label }}</label>
                    {{ form.codigo_gl|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.ciudad_origen.label }}</label>
                     {{ form.ciudad_origen|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.nombres.label }}</label>
                     {{ form.nombres|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.apellidos.label }}</label>
                     {{ form.apellidos|add_class:"form-control" }}
                  </div>
                   <div class="col-xs-6">
                    <label class="control-label">{{ form.edad.label }}</label>
                     {{ form.edad|add_class:"form-control" }}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.ci.label }}</label>
                     {{ form.ci|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.telefono.label }}</label>
                     {{ form.telefono|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.cel.label }}</label>
                     {{ form.cel|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.foto.label }}</label>
                     {{ form.foto|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.activo.label }}</label>
                     {{ form.activo|add_class:"form-control" }}
                  </div>
                   <div class="col-xs-6">
                    <label class="control-label">{{ form.empresa.label }}</label>
                     {{ form.empresa|add_class:"form-control" }}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.tramite.label }}</label>
                     {{ form.tramite|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.afps.label }}</label>
                     {{ form.afps|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.clinica.label }}</label>
                     {{ form.clinica|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.persona_referencia.label }}</label>
                     {{ form.persona_referencia|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.telefono_per_referencia.label }}</label>
                     {{ form.telefono_per_referencia|add_class:"form-control" }}
                  </div>
                   <div class="col-xs-6">
                    <label class="control-label">{{ form.cel_per_referencia.label }}</label>
                     {{ form.cel_per_referencia|add_class:"form-control" }}
                  </div>
                  <div class="col-xs-6">
                    <label class="control-label">{{ form.usuario.label }}</label>
                     {{ form.usuario|add_class:"form-control" }}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div>
                  <button class="btn btn-primary " name="submit" type="submit">
                    Submit
                  </button>
                   <a href="/listar_cliente" class="btn btn-lg btn-warning"><i class="left"></i> Volver  Atras</a>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

